* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialmedia {
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

.socialmedia--instagram {
  width: 568px;
  height: 568px;
}

.socialmedia__img-wrap,
.socialmedia__img {
  margin: auto;
  width: 100%;
}

.socialmedia__img-wrap::after,
.socialmedia__img {
  border-radius: 1.5rem;
}

.socialmedia__img-wrap {
  position: relative;
  z-index: 10;
}

.socialmedia__img-wrap::after {
  content: "";
  margin: -6rem auto 0 auto;
  display: block;
  width: 80%;
  height: 8.5rem;
  background: url("../img/thumbnail-img.png");
  background-size: contain;
  box-shadow: 0 0 18px 18px white inset;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  border: none;
  position: relative;
  z-index: -10;
}

.socialmedia__img {
  box-shadow: 0 2px 2.8rem 0 rgb(0 0 0 / 25%);
}

.socialmedia__handler-signature {
  position: absolute;
  bottom: 1.5rem;
}

.handler-signature__info {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #000;
  font-size: 0.8rem;
}

.info__preferred-name {
  text-transform: capitalize;
  font-size: 0.9rem;
}
