* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialmedia {
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.socialmedia--instagram {
  width: 568px;
  height: 568px;
}

.socialmedia__img-wrap,
img {
  margin: auto;
  width: 100%;
}

.socialmedia__img-wrap {
}

img {
  border-radius: 1.5rem;
}
